body {
	margin: 0;
}

.container {
	max-width: 90%;
	width: fit-content;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;

	align-items: flex-start;
}

.calculator {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.formLabel {
	margin-bottom: 20px;
}

.formLabel input,
.formLabel select {
	margin-left: 10px;
}

.resultWrapper {
	margin-bottom: 10px;
}

.result:not(:empty) {
	margin-bottom: 10px;
	align-self: flex-start;
	border-radius: 2px;
	padding: 5px 10px;
	border: 1px solid #f2f2f2;
}

.result{
	margin-left: 10px;
	margin-right: 10px;
}

.services {
	margin-bottom: 10px;
}

.services h2 {
	margin: 0;
}

.services div {
	margin-top: 10px;
}

.services div button {
	padding: 5px 10px;
	margin-right: 10px;
}
